In [65]:
my_tuple = (1, 2, 3, "apple", "banana")
my_list = list(my_tuple)
print(my_list)
# Expected output: [1, 2, 3, 'apple', 'banana']
print(type(my_list))

[1, 2, 3, 'apple', 'banana']
<class 'list'>

In [66]:
#WAP to count the number of students in a given tuple with grade 'A'
t= ('A','B','C','A','B')
print(t.count('A'))


l = list(t)
l.sort()
print(l)

2
['A', 'A', 'B', 'B', 'C']

# DICTIONARIES

In [67]:
myDict = {
    "Name" : "Vighnesh ",
    "Education" :"Under Graduate",
    "Marks":{
        "COA":"62",
        "DSA":"54",
        "UHV":"31",
        "PYTHON":"24"
    }
}

print(myDict["Marks"])

{'COA': '62', 'DSA': '54', 'UHV': '31', 'PYTHON': '24'}

In [68]:
Dict_List =list(myDict.keys())
print(Dict_List)
print(type(Dict_List))
print(len(myDict))

['Name', 'Education', 'Marks']
<class 'list'>
3

In [69]:
myDict.values()

dict_values(['Vighnesh ', 'Under Graduate', {'COA': '62', 'DSA': '54', 'UHV': '31', 'PYTHON': '24'}])

In [70]:
myDict.update({"Hello":"HI"})
myDict

{'Name': 'Vighnesh ',
 'Education': 'Under Graduate',
 'Marks': {'COA': '62', 'DSA': '54', 'UHV': '31', 'PYTHON': '24'},
 'Hello': 'HI'}

In [71]:
myDict.get("Education")

'Under Graduate'

In [72]:
myDict.items()

dict_items([('Name', 'Vighnesh '), ('Education', 'Under Graduate'), ('Marks', {'COA': '62', 'DSA': '54', 'UHV': '31', 'PYTHON': '24'}), ('Hello', 'HI')])

## SETS

In [73]:
collection={12,1,2,1,2,1,"2",1,2,12,"12"} #it holds only the unique values 
print(collection)
print(type(collection))
print(len(collection))  # total number of items

{1, 2, '2', 12, '12'}
<class 'set'>
5

In [74]:
collection.add(23)
print(collection)

{1, 2, '2', 23, 12, '12'}

In [75]:
collection.remove("2")

In [77]:
c = collection.pop()
collection

{12, '12', 23}

In [80]:
a = {1,2,3,4,5}
b = {2,3,4,5,6}
a.intersection(b)

{2, 3, 4, 5}

In [81]:
#WAP 
myDict={
    "table":["a piece of furniture","list of facts and Figure"],
    "cat":"a small animal"
}
myDict

{'table': ['a piece of furniture', 'list of facts and Figure'],
 'cat': 'a small animal'}

In [83]:
set1={"python","java","c++","python","javaScript","java","python","java","c++",c}
print(len(set1))

5

In [86]:
#Wap to enter the marks of 3 subject from the user 
dict1={
    "subject1":"",
    "subject2":"",
    "subject3":""
}

marks = int(input("Enter the marks of the first subject"))
dict1["subject1"] = marks

marks = int(input("Enter the marks of the first subject"))
dict1["subject2"] = marks

marks = int(input("Enter the marks of the first subject"))
dict1["subject3"] = marks

print(dict1)

{'subject1': 74, 'subject2': 35, 'subject3': 34}

In [89]:
#Wap to store the 9 and 9.0 in the set 
values={(int,9),(float,9.0)}
values

{(float, 9.0), (int, 9)}