In [1]:
import numpy as np
import pandas as pd

In [2]:
Dict ={
    "Food":["Banana","Meet","Apple","BisCuit"],
    "Protein":[34,200,2,1],
    "CarboHydrates":[3,354,7,3],
    "Fat":[0,23,2,55]    
}

In [3]:
Nutrients=pd.DataFrame(Dict)

In [4]:
Nutrients

      Food  Protein  CarboHydrates  Fat
0   Banana       34              3    0
1     Meet      200            354   23
2    Apple        2              7    2
3  BisCuit        1              3   55

In [6]:
Nutrients["Food"]

0     Banana
1       Meet
2      Apple
3    BisCuit
Name: Food, dtype: object

In [9]:
Nutrients["Food"][0]="Pork"

/tmp/ipykernel_7751/2880801008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nutrients["Food"][0]="Pork"

In [10]:
Nutrients

      Food  Protein  CarboHydrates  Fat
0     Pork       34              3    0
1     Meet      200            354   23
2    Apple        2              7    2
3  BisCuit        1              3   55