In [1]:
import numpy as np
import pandas as pd

In [2]:
Dict ={
    "Food":["Banana","Meet","Apple","BisCuit"],
    "Protein":[34,200,2,1],
    "CarboHydrates":[3,354,7,3],
    "Fat":[0,23,2,55]    
}

In [3]:
Nutrients=pd.DataFrame(Dict)

In [4]:
Nutrients

      Food  Protein  CarboHydrates  Fat
0   Banana       34              3    0
1     Meet      200            354   23
2    Apple        2              7    2
3  BisCuit        1              3   55

In [5]:
Nutrients["Food"]

0     Banana
1       Meet
2      Apple
3    BisCuit
Name: Food, dtype: object

In [6]:
Nutrients["Food"][0]="Pork"

/tmp/ipykernel_19674/2880801008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nutrients["Food"][0]="Pork"

In [7]:
Nutrients

      Food  Protein  CarboHydrates  Fat
0     Pork       34              3    0
1     Meet      200            354   23
2    Apple        2              7    2
3  BisCuit        1              3   55

Another"

In [8]:
ser = pd.Series(np.random.rand(3))

In [9]:
type(ser)

pandas.core.series.Series

In [10]:
ser

0    0.216094
1    0.087451
2    0.428584
dtype: float64

In [11]:
newdf = pd.DataFrame(np.random.rand(15,10),index = np.arange(15))

In [12]:
newdf

,0,1,2,3,4,5,6,7,8,9
0,0.012308,0.862581,0.255354,0.996326,0.135325,0.419582,0.563521,0.304737,0.627805,0.262136
1,0.014358,0.494848,0.845995,0.824539,0.383844,0.097905,0.541410,0.645864,0.994586,0.572081
2,0.800239,0.727781,0.740953,0.350347,0.963498,0.963099,0.834184,0.784853,0.122859,0.244627
3,0.209506,0.080221,0.622714,0.585814,0.724254,0.118845,0.151423,0.632430,0.945141,0.766379
4,0.578944,0.681182,0.357639,0.218863,0.412360,0.688128,0.879296,0.817070,0.852271,0.303363
5,0.557157,0.506974,0.327182,0.402148,0.315219,0.190575,0.133917,0.499763,0.700280,0.042614
6,0.060336,0.879802,0.735034,0.542411,0.439874,0.563303,0.968518,0.788394,0.308260,0.646508
7,0.546498,0.101101,0.141387,0.487097,0.354962,0.498329,0.372576,0.304278,0.536165,0.195459
8,0.337473,0.702603,0.545715,0.886578,0.419115,0.758122,0.152935,0.905394,0.815700,0.955465
9,0.032522,0.364802,0.892063,0.093416,0.912822,0.606833,0.679426,0.023673,0.559121,0.726522
10,0.180500,0.322417,0.644079,0.498586,0.424719,0.429249,0.825938,0.751688,0.663185,0.944206
11,0.397336,0.552818,0.887685,0.188789,0.231590,0.059124,0.100902,0.473260,0.669463,0.016524
12,0.483189,0.318252,0.459303,0.206324,0.891289,0.251340,0.616593,0.014692,0.786586,0.149325
13,0.636600,0.367313,0.068862,0.966008,0.315455,0.567985,0.664102,0.547819,0.630613,0.480377
14,0.488736,0.294498,0.555886,0.679313,0.483160,0.318738,0.377813,0.253809,0.485461,0.069746

In [13]:
newdf.head()

,0,1,2,3,4,5,6,7,8,9
0,0.012308,0.862581,0.255354,0.996326,0.135325,0.419582,0.563521,0.304737,0.627805,0.262136
1,0.014358,0.494848,0.845995,0.824539,0.383844,0.097905,0.541410,0.645864,0.994586,0.572081
2,0.800239,0.727781,0.740953,0.350347,0.963498,0.963099,0.834184,0.784853,0.122859,0.244627
3,0.209506,0.080221,0.622714,0.585814,0.724254,0.118845,0.151423,0.632430,0.945141,0.766379
4,0.578944,0.681182,0.357639,0.218863,0.412360,0.688128,0.879296,0.817070,0.852271,0.303363

In [14]:
type(newdf)

pandas.core.frame.DataFrame

In [15]:
newdf.describe()

,0,1,2,3,4,5,6,7,8,9
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,0.355713,0.483813,0.538657,0.528437,0.493832,0.435410,0.524170,0.516515,0.646500,0.425022
std,0.256006,0.250489,0.264813,0.293628,0.256296,0.264195,0.294887,0.284067,0.229844,0.324478
min,0.012308,0.080221,0.068862,0.093416,0.135325,0.059124,0.100902,0.014692,0.122859,0.016524
25%,0.120418,0.320335,0.342410,0.284605,0.335208,0.220957,0.262756,0.304507,0.547643,0.172392
50%,0.397336,0.494848,0.555886,0.498586,0.419115,0.429249,0.563521,0.547819,0.663185,0.303363
75%,0.551827,0.691892,0.737993,0.751926,0.603707,0.587409,0.752682,0.768271,0.801143,0.686515
max,0.800239,0.879802,0.892063,0.996326,0.963498,0.963099,0.968518,0.905394,0.994586,0.955465

In [16]:
#newdf.dtypes

newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [17]:
newdf[0][0]="Vighnesh"

/tmp/ipykernel_19674/3832953673.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[0][0]="Vighnesh"
/tmp/ipykernel_19674/3832953673.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Vighnesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[0][0]="Vighnesh"

In [18]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [19]:
newdf[1][1]="Vighnesh"
newdf[2][2]="Vighnesh"
newdf[3][3]="Vighnesh"
newdf[4][4]="Vighnesh"
newdf[5][5]="Vighnesh"
newdf[6][6]="Vighnesh"
newdf[7][7]="Vighnesh"
newdf[8][8]="Vighnesh"
newdf[9][9]="Vighnesh"

/tmp/ipykernel_19674/2751295648.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[1][1]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[1][1]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Vighnesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[1][1]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[2][2]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[2][2]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Vighnesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[2][2]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[3][3]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[3][3]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Vighnesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[3][3]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[4][4]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[4][4]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Vighnesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[4][4]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[5][5]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[5][5]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Vighnesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[5][5]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[6][6]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[6][6]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Vighnesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[6][6]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[7][7]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[7][7]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Vighnesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[7][7]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[8][8]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[8][8]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Vighnesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[8][8]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[9][9]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[9][9]="Vighnesh"
/tmp/ipykernel_19674/2751295648.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Vighnesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[9][9]="Vighnesh"

In [20]:
newdf

,0,1,2,3,4,5,6,7,8,9
0,Vighnesh,0.862581,0.255354,0.996326,0.135325,0.419582,0.563521,0.304737,0.627805,0.262136
1,0.014358,Vighnesh,0.845995,0.824539,0.383844,0.097905,0.54141,0.645864,0.994586,0.572081
2,0.800239,0.727781,Vighnesh,0.350347,0.963498,0.963099,0.834184,0.784853,0.122859,0.244627
3,0.209506,0.080221,0.622714,Vighnesh,0.724254,0.118845,0.151423,0.63243,0.945141,0.766379
4,0.578944,0.681182,0.357639,0.218863,Vighnesh,0.688128,0.879296,0.81707,0.852271,0.303363
5,0.557157,0.506974,0.327182,0.402148,0.315219,Vighnesh,0.133917,0.499763,0.70028,0.042614
6,0.060336,0.879802,0.735034,0.542411,0.439874,0.563303,Vighnesh,0.788394,0.30826,0.646508
7,0.546498,0.101101,0.141387,0.487097,0.354962,0.498329,0.372576,Vighnesh,0.536165,0.195459
8,0.337473,0.702603,0.545715,0.886578,0.419115,0.758122,0.152935,0.905394,Vighnesh,0.955465
9,0.032522,0.364802,0.892063,0.093416,0.912822,0.606833,0.679426,0.023673,0.559121,Vighnesh
10,0.1805,0.322417,0.644079,0.498586,0.424719,0.429249,0.825938,0.751688,0.663185,0.944206
11,0.397336,0.552818,0.887685,0.188789,0.23159,0.059124,0.100902,0.47326,0.669463,0.016524
12,0.483189,0.318252,0.459303,0.206324,0.891289,0.25134,0.616593,0.014692,0.786586,0.149325
13,0.6366,0.367313,0.068862,0.966008,0.315455,0.567985,0.664102,0.547819,0.630613,0.480377
14,0.488736,0.294498,0.555886,0.679313,0.48316,0.318738,0.377813,0.253809,0.485461,0.069746

In [21]:
newdf.index

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

In [22]:
 newdf.columns

RangeIndex(start=0, stop=10, step=1)

In [23]:
newdf.to_numpy()

array([['Vighnesh', 0.8625808723120505, 0.25535427319507076,
        0.996326058235993, 0.13532507218191525, 0.4195817538495178,
        0.5635209549650549, 0.30473659900446426, 0.6278048679294818,
        0.26213564871476625],
       [0.014357824677547648, 'Vighnesh', 0.8459949607484405,
        0.8245385662829949, 0.383844406467286, 0.09790509579336759,
        0.5414099617372127, 0.6458640823866315, 0.9945858178358361,
        0.5720806866152673],
       [0.8002386358840216, 0.7277806573059766, 'Vighnesh',
        0.3503474119279988, 0.9634975419859334, 0.9630990537032894,
        0.8341838514526074, 0.7848533674268204, 0.12285866915476695,
        0.24462743325695047],
       [0.20950643871912322, 0.08022105433206117, 0.622714158905206,
        'Vighnesh', 0.7242536451173859, 0.11884467176232283,
        0.15142294570517079, 0.6324299614345051, 0.9451413820421892,
        0.7663785985918722],
       [0.5789444574202619, 0.6811815644443511, 0.357638861877815,
        0.2188632312088229, 'Vighnesh', 0.6881280668967336,
        0.8792962893810429, 0.8170700408716511, 0.85227078512658,
        0.3033626726136295],
       [0.5571568327019158, 0.506973512575438, 0.3271820419761696,
        0.4021477587397554, 0.3152194066692072, 'Vighnesh',
        0.13391720701386234, 0.49976336781843334, 0.7002796071320824,
        0.04261448345168983],
       [0.06033645840124657, 0.8798018145102555, 0.735033736974589,
        0.5424111243377712, 0.4398740831650084, 0.5633034986477273,
        'Vighnesh', 0.7883944528436944, 0.3082599431870291,
        0.6465083672745938],
       [0.5464976531028554, 0.10110073445711698, 0.1413868683167434,
        0.4870965988856084, 0.35496194701652406, 0.4983292846882108,
        0.37257597760127004, 'Vighnesh', 0.5361651805984581,
        0.19545941052412175],
       [0.3374728670580238, 0.7026028425377496, 0.5457149723598649,
        0.88657828945119, 0.419115162570587, 0.75812211111974,
        0.15293507535756656, 0.9053939126894145, 'Vighnesh',
        0.9554650248970277],
       [0.03252213093316447, 0.36480150154705815, 0.8920631666394216,
        0.09341564876782271, 0.9128219482865393, 0.6068327442986191,
        0.6794260688143468, 0.023673145640483284, 0.5591213773943392,
        'Vighnesh'],
       [0.18050001068998212, 0.3224174896027262, 0.6440794875189779,
        0.4985864836525765, 0.4247185173781669, 0.42924909139888967,
        0.8259383792342804, 0.7516877550137012, 0.6631851723452445,
        0.9442064899259721],
       [0.3973355586363072, 0.5528183105911556, 0.8876847056600319,
        0.1887890308967347, 0.23158997732576614, 0.059123871704121034,
        0.10090159583594438, 0.47326027216128597, 0.6694628046243498,
        0.016524090310457873],
       [0.4831887588516074, 0.3182518485209309, 0.45930310704813193,
        0.2063238079247387, 0.8912890318059528, 0.251339902828297,
        0.61659255833607, 0.014692015051610774, 0.7865858745586655,
        0.14932478400181748],
       [0.6366004307710807, 0.36731266233101045, 0.06886223541903003,
        0.9660081269839924, 0.31545458904211554, 0.5679852720333652,
        0.6641015093986441, 0.5478187840158044, 0.630613223055984,
        0.48037687742363555],
       [0.4887357480721981, 0.29449771729960694, 0.5558861187739894,
        0.6793131697340318, 0.48315962614277697, 0.31873786726361786,
        0.37781339611900844, 0.2538094791876364, 0.4854610099517951,
        0.06974562796182371]], dtype=object)

In [24]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Vighnesh,0.014358,0.800239,0.209506,0.578944,0.557157,0.060336,0.546498,0.337473,0.032522,0.1805,0.397336,0.483189,0.6366,0.488736
1,0.862581,Vighnesh,0.727781,0.080221,0.681182,0.506974,0.879802,0.101101,0.702603,0.364802,0.322417,0.552818,0.318252,0.367313,0.294498
2,0.255354,0.845995,Vighnesh,0.622714,0.357639,0.327182,0.735034,0.141387,0.545715,0.892063,0.644079,0.887685,0.459303,0.068862,0.555886
3,0.996326,0.824539,0.350347,Vighnesh,0.218863,0.402148,0.542411,0.487097,0.886578,0.093416,0.498586,0.188789,0.206324,0.966008,0.679313
4,0.135325,0.383844,0.963498,0.724254,Vighnesh,0.315219,0.439874,0.354962,0.419115,0.912822,0.424719,0.23159,0.891289,0.315455,0.48316
5,0.419582,0.097905,0.963099,0.118845,0.688128,Vighnesh,0.563303,0.498329,0.758122,0.606833,0.429249,0.059124,0.25134,0.567985,0.318738
6,0.563521,0.54141,0.834184,0.151423,0.879296,0.133917,Vighnesh,0.372576,0.152935,0.679426,0.825938,0.100902,0.616593,0.664102,0.377813
7,0.304737,0.645864,0.784853,0.63243,0.81707,0.499763,0.788394,Vighnesh,0.905394,0.023673,0.751688,0.47326,0.014692,0.547819,0.253809
8,0.627805,0.994586,0.122859,0.945141,0.852271,0.70028,0.30826,0.536165,Vighnesh,0.559121,0.663185,0.669463,0.786586,0.630613,0.485461
9,0.262136,0.572081,0.244627,0.766379,0.303363,0.042614,0.646508,0.195459,0.955465,Vighnesh,0.944206,0.016524,0.149325,0.480377,0.069746

In [27]:
newdf.sort_index(axis=1,ascending = False)

,9,8,7,6,5,4,3,2,1,0
0,0.262136,0.627805,0.304737,0.563521,0.419582,0.135325,0.996326,0.255354,0.862581,Vighnesh
1,0.572081,0.994586,0.645864,0.54141,0.097905,0.383844,0.824539,0.845995,Vighnesh,0.014358
2,0.244627,0.122859,0.784853,0.834184,0.963099,0.963498,0.350347,Vighnesh,0.727781,0.800239
3,0.766379,0.945141,0.63243,0.151423,0.118845,0.724254,Vighnesh,0.622714,0.080221,0.209506
4,0.303363,0.852271,0.81707,0.879296,0.688128,Vighnesh,0.218863,0.357639,0.681182,0.578944
5,0.042614,0.70028,0.499763,0.133917,Vighnesh,0.315219,0.402148,0.327182,0.506974,0.557157
6,0.646508,0.30826,0.788394,Vighnesh,0.563303,0.439874,0.542411,0.735034,0.879802,0.060336
7,0.195459,0.536165,Vighnesh,0.372576,0.498329,0.354962,0.487097,0.141387,0.101101,0.546498
8,0.955465,Vighnesh,0.905394,0.152935,0.758122,0.419115,0.886578,0.545715,0.702603,0.337473
9,Vighnesh,0.559121,0.023673,0.679426,0.606833,0.912822,0.093416,0.892063,0.364802,0.032522
10,0.944206,0.663185,0.751688,0.825938,0.429249,0.424719,0.498586,0.644079,0.322417,0.1805
11,0.016524,0.669463,0.47326,0.100902,0.059124,0.23159,0.188789,0.887685,0.552818,0.397336
12,0.149325,0.786586,0.014692,0.616593,0.25134,0.891289,0.206324,0.459303,0.318252,0.483189
13,0.480377,0.630613,0.547819,0.664102,0.567985,0.315455,0.966008,0.068862,0.367313,0.6366
14,0.069746,0.485461,0.253809,0.377813,0.318738,0.48316,0.679313,0.555886,0.294498,0.488736

In [26]:
newdf

,0,1,2,3,4,5,6,7,8,9
0,Vighnesh,0.862581,0.255354,0.996326,0.135325,0.419582,0.563521,0.304737,0.627805,0.262136
1,0.014358,Vighnesh,0.845995,0.824539,0.383844,0.097905,0.54141,0.645864,0.994586,0.572081
2,0.800239,0.727781,Vighnesh,0.350347,0.963498,0.963099,0.834184,0.784853,0.122859,0.244627
3,0.209506,0.080221,0.622714,Vighnesh,0.724254,0.118845,0.151423,0.63243,0.945141,0.766379
4,0.578944,0.681182,0.357639,0.218863,Vighnesh,0.688128,0.879296,0.81707,0.852271,0.303363
5,0.557157,0.506974,0.327182,0.402148,0.315219,Vighnesh,0.133917,0.499763,0.70028,0.042614
6,0.060336,0.879802,0.735034,0.542411,0.439874,0.563303,Vighnesh,0.788394,0.30826,0.646508
7,0.546498,0.101101,0.141387,0.487097,0.354962,0.498329,0.372576,Vighnesh,0.536165,0.195459
8,0.337473,0.702603,0.545715,0.886578,0.419115,0.758122,0.152935,0.905394,Vighnesh,0.955465
9,0.032522,0.364802,0.892063,0.093416,0.912822,0.606833,0.679426,0.023673,0.559121,Vighnesh
10,0.1805,0.322417,0.644079,0.498586,0.424719,0.429249,0.825938,0.751688,0.663185,0.944206
11,0.397336,0.552818,0.887685,0.188789,0.23159,0.059124,0.100902,0.47326,0.669463,0.016524
12,0.483189,0.318252,0.459303,0.206324,0.891289,0.25134,0.616593,0.014692,0.786586,0.149325
13,0.6366,0.367313,0.068862,0.966008,0.315455,0.567985,0.664102,0.547819,0.630613,0.480377
14,0.488736,0.294498,0.555886,0.679313,0.48316,0.318738,0.377813,0.253809,0.485461,0.069746